In [1]:
import pandas_datareader as pdr
import datetime
start = datetime.datetime(2015, 1, 1)
end = datetime.datetime(2015, 12, 31)
stocks = pdr.get_data_yahoo(['GOOG', 'AAPL', 'AMZN', 'WMT'], start, end)
stocks.Open

                  AAPL        AMZN        GOOG        WMT
Date
2015-01-02  111.389999  312.579987  529.012399  86.269997
2015-01-05  108.290001  307.010010  523.262377  85.720001
2015-01-06  106.540001  302.239990  515.002358  85.980003
2015-01-07  107.199997  297.500000  507.002299  86.779999
2015-01-08  109.230003  300.320007  497.992268  89.209999
2015-01-09  112.669998  301.480011  504.762300  90.320000
2015-01-12  112.599998  297.559998  494.942247  89.360001
2015-01-13  111.430000  297.480011  498.842256  90.800003
2015-01-14  109.040001  291.929993  494.652237  87.650002
2015-01-15  110.000000  294.000000  505.572291  87.000000
2015-01-16  107.029999  286.279999  500.012273  87.199997
2015-01-20  107.839996  292.589996  511.002313  86.820000
2015-01-21  108.949997  289.640015  507.252283  86.099998
2015-01-22  110.260002  300.000000  521.482349  87.230003
2015-01-23  112.300003  308.079987  535.592396  88.419998
2015-01-26  113.739998  311.820007  538.532466  88.309998
2015-01-27  112.419998  306.299988  529.972369  88.279999
2015-01-28  117.629997  309.809998  522.782362  88.019997
2015-01-29  116.320000  304.730011  511.002313  87.070000
2015-01-30  118.400002  346.320007  515.862322  86.779999
2015-02-02  118.050003  350.049988  531.732383  84.790001
2015-02-03  118.500000  360.290009  528.002366  85.830002
2015-02-04  118.500000  358.380005  529.242400  86.110001
2015-02-05  120.019997  366.000000  523.792395  87.110001
2015-02-06  120.019997  374.869995  527.642370  87.260002
2015-02-09  118.550003  371.000000  528.002366  86.970001
2015-02-10  120.169998  371.190002  529.302379  86.620003
2015-02-11  122.769997  371.230011  535.302416  86.629997
2015-02-12  126.059998  375.100006  537.252405  86.559998
2015-02-13  127.279999  378.410004  543.352447  85.839996
...                ...         ...         ...        ...
2015-11-18  115.760002  646.510010  727.580017  60.040001
2015-11-19  117.639999  664.989990  738.739990  61.119999
2015-11-20  119.199997  667.940002  746.530029  60.980000
2015-11-23  119.269997  671.500000  757.450012  60.290001
2015-11-24  117.330002  674.140015  752.000000  59.950001
2015-11-25  119.209999  675.000000  748.140015  60.000000
2015-11-27  118.290001  680.799988  748.460022  60.439999
2015-11-30  117.989998  675.900024  748.809998  59.869999
2015-12-01  118.750000  673.750000  747.109985  59.130001
2015-12-02  117.339996  681.000000  768.900024  58.610001
2015-12-03  116.550003  679.440002  766.010010  58.689999
2015-12-04  115.290001  666.000000  753.099976  59.049999
2015-12-07  118.980003  674.739990  767.770020  59.570000
2015-12-08  117.519997  663.130005  757.890015  60.070000
2015-12-09  117.639999  678.000000  759.169983  59.259998
2015-12-10  116.040001  665.590027  752.849976  59.130001
2015-12-11  115.190002  651.229980  741.159973  59.049999
2015-12-14  112.180000  641.750000  741.789978  59.299999
2015-12-15  111.940002  665.030029  753.000000  60.639999
2015-12-16  111.070000  663.559998  750.000000  60.110001
2015-12-17  112.019997  680.000000  762.419983  60.330002
2015-12-18  108.910004  668.650024  746.510010  58.930000
2015-12-21  107.279999  668.500000  746.130005  58.820000
2015-12-22  107.400002  666.830017  751.650024  59.790001
2015-12-23  107.269997  666.500000  753.469971  61.000000
2015-12-24  109.000000  663.349976  749.549988  60.779999
2015-12-28  107.589996  665.559998  752.919983  60.580002
2015-12-29  106.959999  677.979980  766.690002  61.000000
2015-12-30  108.580002  691.890015  776.599976  61.660000
2015-12-31  107.010002  686.080017  769.500000  61.330002

[252 rows x 4 columns]